.b-count {
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    width: 21px;
    height: 21px;
    background: #8168F0;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-top: 2px;
}