.b-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__name {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-right: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8168F0;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -5px;
            width: 7px;
            height: 7px;
            border-top: 2px solid #8168F0;
            border-left: 2px solid #8168F0;
            transform: rotate(-135deg);
        }
    }
    &__image {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }

}