.b-menu {
    &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8168F0;
    }

    & .b-count {
        margin-left: 4px;
    }

    &__link {
        transition: 0.5s;
        &:hover {
            color: #000;
        }
    }
}