.b-header {
    padding: 18px 0;
    &__top {
        padding: 0 0 18px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__wrapper {
        margin-left: auto;
        display: flex;
        flex-direction: row;
    }

    &__phone {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000;
        margin-right: 22px;
    }

    &__phone-text {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000;
        opacity: 0.5;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .b-menu {
        &__item {
            margin-right: 24px;
        }
    }
}